<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
</head>

<body>
    <h1>Personal Profile</h1>
    <p><strong>First Name:</strong> {{ first_name }}</p>
    <p><strong>Last Name:</strong> {{ last_name }}</p>
    <p><strong>Department:</strong> {{ department }}</p>
    <p><strong>Public Key:</strong> {{ public_key }}</p>
    <p><strong>Role:</strong> {{ role }}</p>

    {% if documents %}
    <table>
        <thead>
            <tr>
                <th>Work name</th>
                <th>Base hash</th>
                <th>Approved</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            {% if document.approved == 'No' %}
            <tr>
                <td>{{ document.work_name }}</td>
                <td>{{ document.base_hash }}</td>
                <td>No</td>
                <td>
                    <a href="{{ url_for('download_file', username=username, filename=document.work_name) }}"
                        class="btn btn-primary">Download</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ document.work_name }}</td>
                <td>{{ document.base_hash }}</td>
                <td>Yes</td>
                <td>
                    <a href="{{ url_for('download_file', username=username, filename=document.work_name) }}"
                        class="btn btn-primary">Download</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No approved documents found.</p>
    {% endif %}


</body>

</html>