<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
</head>

<body>
    <h1>Personal Profile</h1>
    <p><strong>First Name:</strong> {{ first_name }}</p>
    <p><strong>Last Name:</strong> {{ last_name }}</p>
    <p><strong>Department:</strong> {{ department }}</p>
    <p><strong>Public Key:</strong> {{ public_key }}</p>
    <p><strong>Role:</strong> {{ role }}</p>

    <!-- <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
-->
</body>

</html>